* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::selection {
  color: white;
  background-color: black;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #f7f7f7;
}

#nav {
  width: 100%;
  background-color: rgb(191, 191, 191);
  position: fixed;
  z-index: 99;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav-part1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

#nav-part1 #links a {
  text-decoration: none;
  text-transform: uppercase;
  color: #333;
  font-family: futura;
  font-size: 20px;
  margin-right: 30px;
}

#nav-part1 #icons i {
  font-size: 18px;
  margin-right: 30px;
}

#cursor {
  height: 150px;
  width: 150px;
  background-color: blanchedalmond;
  border-radius: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
}

#page1 {
  min-height: 100vh;
  position: relative;
  width: 100%;
  padding: 0 1vw;
  padding-top: 20vh;
}

#page1 h1 {
  font-size: 15.8vw;
  text-transform: uppercase;
  font-family: futura;
  line-height: 14vw;
  letter-spacing: -8px;
}

#video-container {
  height: 100vh;
  width: 100%;
  background-color: grey;
  margin-top: 1vw;
  position: relative;
}

#video-container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#video-container #play {
  padding: 3vw 2.2vw;
  background-color: black;
  color: white;
  font-family: futura;
  text-transform: uppercase;
  border-radius: 50%;
  position: fixed;
  opacity: 0;
  scale: 0;
}

#page2 {
  min-height: 100vh;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 3vw 1vw;
}

#page2 .elem {
  height: 100%;
  width: 31%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page2 .elem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  scale: 1;
}

#page2 .elem #dets {
  height: 60px;
  width: 70%;
  background-color: palegoldenrod;
  position: absolute;
  z-index: 9;
  border-radius: 50px;
  text-align: center;
  padding: 20px;
  font-family: futura;
}

#page3 {
  min-height: 120vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#product {
  font-family: futura;
  text-align: center;
}

#page3 {
  min-height: 120vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.child {
  height: 54vh;
  width: 38vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.child img {
  height: 100%;
}

@media (max-width: 600px) {
  #page1 {
    min-height: 70vh;
    width: 100%;
    padding: 0 2vw;
    padding-top: 25vh;
  }

  #page1 h1 {
    font-size: 15vw;
    line-height: 14vw;
    letter-spacing: -3px;
  }

  #video-container {
    height: 30vh;
    width: 100%;
    margin-top: 3vw;
  }

  #video-container #play {
    padding: 9vw 7.2vw;
    font-size: 4vw;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 1;
    scale: 1;
  }

  #page2 {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding: 5vw 3vw;
  }
}
